-> Feature de alugar um carro. 
[ - Um cliente pode visualizar uma lista de veiculos. 
  - Ele pode filtrar os carros com base em suas preferencias.
  - Ele pode selecionar 1 carro para ser alugado.



-> Cadastro de clientes. 
  - Ele deve fazer o cadastro previo com toda a documentação necessária (CNH, comprovante de residencia, RG)
  

-> Cadastro de Carros
 - Deve ser possivel cadastrar carros para aluguel.

]